.desktop-navigation {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
.desktop-navigation__lower {
  font-size: 2rem;
}
.desktop-navigation__lower-link {
  text-decoration: none;
  color: #F3F5F3;
}

.mobile-navigation {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #F3F5F3;
}
.mobile-navigation__login-button {
  font-size: 2rem;
  color: #F3F5F3;
}
@media (max-width: 56em) {
  .mobile-navigation__login-button {
    font-size: 1.5rem;
  }
}
@media (max-width: 37em) {
  .mobile-navigation__login-button {
    font-size: 1.3rem;
  }
}
.mobile-navigation__bottom {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
}
@media (max-width: 56em) {
  .mobile-navigation__bottom {
    font-size: 1.2rem;
  }
}
.mobile-navigation__header {
  font-size: 2.5rem;
  font-weight: 700;
}
@media (max-width: 37em) {
  .mobile-navigation__header {
    font-size: 1.8rem;
  }
}
.mobile-navigation__header-link {
  color: inherit;
  text-decoration: none;
}
.mobile-navigation__menu {
  font-size: 2rem;
}
@media (max-width: 37em) {
  .mobile-navigation__menu {
    font-size: 1.5rem;
    line-height: 2.5;
  }
}
.mobile-navigation__menu-link {
  color: inherit;
  text-decoration: none;
}

.header {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 3rem;
}
@media (max-width: 56em) {
  .header {
    font-size: 1.8rem;
  }
}
@media (max-width: 37em) {
  .header {
    font-size: 1.4rem;
  }
}
.header-link, .header-link:visited, .header-link:link {
  text-decoration: none;
  color: #F3F5F3;
}
.header-middle .header-link {
  font-weight: 700;
  letter-spacing: 0.8rem;
}
@media (max-width: 37em) {
  .header-middle .header-link {
    padding: 0 1rem;
    letter-spacing: 0.2rem;
  }
}

.hero-section {
  font-family: "Montserrat", sans-serif;
}
.hero-section__title {
  text-transform: uppercase;
  font-size: 4rem;
  color: rgba(243, 245, 243, 0.9);
}
@media (max-width: 56em) {
  .hero-section__title {
    font-size: 3rem;
  }
}
@media (max-width: 37em) {
  .hero-section__title {
    font-size: 2rem;
  }
}
.hero-section__button {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
}
@media (max-width: 56em) {
  .hero-section__button {
    font-size: 1.6rem;
  }
}

.card__title-container-title {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 500;
  color: #F3F5F3;
  margin: 1.5rem;
}
@media (max-width: 56em) {
  .card__title-container-title {
    font-size: 1.5rem;
  }
}

.card__description-container-text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8em;
  font-weight: 300;
  color: #2A1E38;
}
@media (max-width: 56em) {
  .card__description-container-text {
    font-size: 1.3rem;
  }
}

.card__button {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 1.6rem;
  color: #F3F5F3;
}
@media (max-width: 56em) {
  .card__button {
    font-size: 1.5rem;
  }
}

.pricing-card {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
.pricing-card__main-service {
  font-size: 1.8rem;
  letter-spacing: 0.3rem;
  font-weight: 700;
  color: #A663CC;
}
@media (max-width: 75em) {
  .pricing-card__main-service {
    font-size: 1.4rem;
  }
}
.pricing-card__sub-services--service--title {
  color: #F3F5F3;
  font-size: 1.5rem;
}
@media (max-width: 75em) {
  .pricing-card__sub-services--service--title {
    font-size: 1.2rem;
  }
}
.pricing-card__sub-services--service--price {
  color: #F3F5F3;
  font-weight: 100;
  font-size: 2rem;
}
@media (max-width: 75em) {
  .pricing-card__sub-services--service--price {
    font-size: 1.5rem;
  }
}

.pricing-section__title {
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
  color: #F3F5F3;
}
@media (max-width: 56em) {
  .pricing-section__title {
    font-size: 3rem;
  }
}
@media (max-width: 37em) {
  .pricing-section__title {
    font-size: 2rem;
  }
}

.review-card__person {
  font-family: "Montserrat", sans-serif;
}
.review-card__person--name {
  font-size: 2.6rem;
  font-weight: 700;
  color: rgba(42, 30, 56, 0.8);
}
@media (max-width: 56em) {
  .review-card__person--name {
    font-size: 2.3rem;
  }
}
@media (max-width: 37em) {
  .review-card__person--name {
    font-size: 2rem;
  }
}
.review-card__person--review {
  font-size: 1.6rem;
  font-weight: 200;
  color: rgba(42, 30, 56, 0.8);
}
@media (max-width: 56em) {
  .review-card__person--review {
    font-size: 1.4rem;
  }
}
@media (max-width: 37em) {
  .review-card__person--review {
    font-size: 1.3rem;
  }
}

.direction-section__title {
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(to left, rgba(111, 45, 189, 0.8), rgba(166, 99, 204, 0.8));
  -webkit-background-clip: text;
  color: transparent;
}

.schedule-card {
  color: #F3F5F3;
  font-family: "Montserrat", sans-serif;
}
.schedule-card__title-container {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 3rem;
}
@media (max-width: 56em) {
  .schedule-card__title-container {
    font-size: 2rem;
  }
}
.schedule-card__hours {
  font-weight: 200;
}
.schedule-card__hours-service--title {
  font-size: 2rem;
}
@media (max-width: 56em) {
  .schedule-card__hours-service--title {
    font-size: 1.6rem;
  }
}
.schedule-card__hours-service--hours {
  font-size: 2.2rem;
}
@media (max-width: 56em) {
  .schedule-card__hours-service--hours {
    font-size: 1.8rem;
  }
}

.footer-section {
  color: rgba(243, 245, 243, 0.7);
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
}

.login-modal__container--form {
  font-family: "Montserrat", sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
  color: rgba(82, 182, 154, 0.9);
}
@media (max-width: 37em) {
  .login-modal__container--form {
    font-size: 1.5rem;
  }
}
.login-modal__container--form--title {
  font-size: 2.7rem;
  font-weight: 700;
}
@media (max-width: 37em) {
  .login-modal__container--form--title {
    font-size: 2rem;
  }
}
@media (max-width: 56em) {
  .login-modal__container--form--inputs--label {
    color: rgba(243, 245, 243, 0.7);
  }
  .login-modal__container--form--inputs--label--firstname, .login-modal__container--form--inputs--label--lastname {
    color: rgba(42, 30, 56, 0.7);
  }
}
.login-modal__container--form--inputs--button {
  font-size: 2rem;
}
@media (max-width: 37em) {
  .login-modal__container--form--inputs--button {
    font-size: 1.5rem;
  }
}
.login-modal__container--form--inputs--button--login {
  color: #F3F5F3;
}
.login-modal__container--form--inputs--button--signup {
  color: #52b69a;
}
.login-modal__container--form--inputs--input {
  font-size: 1.5rem;
  font-weight: 200;
}
@media (max-width: 37em) {
  .login-modal__container--form--inputs--input {
    font-size: 1.2rem;
  }
}

.user-info {
  color: #F3F5F3;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}
.user-info__header--name {
  font-weight: 500;
}
.user-info__header--name--firstname {
  font-size: 2rem;
  font-weight: 700;
}
.user-info__details--detail--personal {
  color: #c8c8c8;
  font-size: 1.8rem;
}
.user-info__details--detail--personal:hover {
  color: #F3F5F3;
}
.user-info__mobile {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: #F3F5F3;
}
.user-info__mobile-details--detail--personal {
  text-decoration: none;
  color: #F3F5F3;
}

.user-dashboard {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}

.promo-card {
  font-size: 2rem;
  color: rgba(243, 245, 243, 0.9);
}
.promo-card__information--expiration {
  text-transform: uppercase;
  font-size: 1.3rem;
}
.promo-card__information--expiration--date {
  font-size: 2.2rem;
  font-weight: 900;
}
.promo-card__information--button {
  text-transform: uppercase;
  font-size: 2.7rem;
  font-weight: 900;
}
.promo-card__image--title {
  font-size: 3rem;
  font-weight: 900;
}
.promo-card__image--title span {
  font-size: 5rem;
}
.promo-card__touch {
  color: rgba(243, 245, 243, 0.9);
}
.promo-card__touch-image--title {
  font-size: 3rem;
  font-weight: 900;
}
.promo-card__touch-image--title span {
  font-size: 5rem;
}
.promo-card__touch-information--expiration {
  text-transform: uppercase;
  font-size: 1.4rem;
}
.promo-card__touch-information--expiration--date {
  font-size: 2.2rem;
  font-weight: 900;
}
.promo-card__touch-information--button {
  text-transform: uppercase;
  font-size: 2.7rem;
  font-weight: 900;
}

.promotions__empty {
  font-size: 6rem;
  font-weight: 900;
  background-image: linear-gradient(to left, rgba(111, 45, 189, 0.8), rgba(166, 99, 204, 0.8));
  -webkit-background-clip: text;
  color: transparent;
}

.pricing-card {
  height: fit-content;
  padding: 2rem;
  min-width: 40%;
  max-width: 110rem;
  display: flex;
  box-shadow: 0 1rem 2rem rgba(42, 30, 56, 0.4);
  margin: 3rem;
  border-radius: 10px;
  overflow: hidden;
  align-self: center;
  background: #F3F5F3;
}
@media (max-width: 75em) {
  .pricing-card {
    width: 55%;
  }
}
@media (max-width: 56em) {
  .pricing-card {
    width: 75%;
    flex-direction: column;
  }
}
.pricing-card__main-service {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  padding-left: 3rem;
}
@media (max-width: 56em) {
  .pricing-card__main-service {
    width: 85%;
  }
}
.pricing-card__sub-services {
  display: flex;
  justify-content: center;
  width: 73%;
  flex-direction: column;
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
  border-radius: 10px;
  background-image: linear-gradient(to right bottom, rgba(111, 45, 189, 0.7), rgba(166, 99, 204, 0.4));
}
@media (max-width: 56em) {
  .pricing-card__sub-services {
    clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%);
    width: 100%;
  }
}
.pricing-card__sub-services--service {
  display: flex;
  justify-content: space-evenly;
}

/*# sourceMappingURL=pricing-card.css.map */
