@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&display=swap");
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveToLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.desktop-navigation {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 5rem; }
  .desktop-navigation__lower {
    font-size: 2rem; }
    .desktop-navigation__lower-link {
      text-decoration: none;
      color: rgba(17, 11, 17, 0.7); }

.mobile-navigation {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #f8f8ff; }
  .mobile-navigation__header {
    font-size: 2.5rem;
    font-weight: 700; }
    .mobile-navigation__header-link {
      color: inherit;
      text-decoration: none; }
  .mobile-navigation__menu {
    font-size: 2rem; }
    .mobile-navigation__menu-link {
      color: inherit;
      text-decoration: none; }

.header {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 3rem; }
  @media (max-width: 56em) {
    .header {
      font-size: 2rem; } }
  @media (max-width: 37em) {
    .header {
      font-size: 1rem; } }
  .header-link, .header-link:visited, .header-link:link {
    text-decoration: none;
    color: rgba(17, 11, 17, 0.8); }
  .header-middle {
    letter-spacing: .6rem; }
    @media (max-width: 37em) {
      .header-middle {
        padding: 0 1rem;
        letter-spacing: .2rem; } }

.hero-section {
  font-family: 'Montserrat', sans-serif; }
  .hero-section__title {
    text-transform: uppercase;
    font-size: 4rem;
    background-image: linear-gradient(to left, rgba(111, 45, 189, 0.6), rgba(178, 152, 220, 0.6));
    -webkit-background-clip: text;
    color: transparent; }
  .hero-section__button {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase; }

.desktop-navigation {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 5rem; }
  .desktop-navigation__lower {
    font-size: 2rem; }
    .desktop-navigation__lower-link {
      text-decoration: none;
      color: rgba(17, 11, 17, 0.7); }

.mobile-navigation {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #f8f8ff; }
  .mobile-navigation__header {
    font-size: 2.5rem;
    font-weight: 700; }
    .mobile-navigation__header-link {
      color: inherit;
      text-decoration: none; }
  .mobile-navigation__menu {
    font-size: 2rem; }
    .mobile-navigation__menu-link {
      color: inherit;
      text-decoration: none; }

.header {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 3rem; }
  @media (max-width: 56em) {
    .header {
      font-size: 2rem; } }
  @media (max-width: 37em) {
    .header {
      font-size: 1rem; } }
  .header-link, .header-link:visited, .header-link:link {
    text-decoration: none;
    color: rgba(17, 11, 17, 0.8); }
  .header-middle {
    letter-spacing: .6rem; }
    @media (max-width: 37em) {
      .header-middle {
        padding: 0 1rem;
        letter-spacing: .2rem; } }

.hero-section {
  font-family: 'Montserrat', sans-serif; }
  .hero-section__title {
    text-transform: uppercase;
    font-size: 4rem;
    background-image: linear-gradient(to left, rgba(111, 45, 189, 0.6), rgba(178, 152, 220, 0.6));
    -webkit-background-clip: text;
    color: transparent; }
  .hero-section__button {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase; }

.desktop-navigation {
  display: flex;
  flex-direction: column;
  padding: 0 6rem; }
  @media (max-width: 56em) {
    .desktop-navigation {
      display: none; } }
  @media (min-width: 100em) {
    .desktop-navigation {
      padding: 0 35rem; } }
  .desktop-navigation__lower {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0; }
    .desktop-navigation__lower-link, .desktop-navigation__lower-link:visited, .desktop-navigation__lower-link:link {
      display: inline-block;
      transition: all .2s; }
    .desktop-navigation__lower-link:hover {
      transform: scale(1.05); }

.desktop-navigation {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 5rem; }
  .desktop-navigation__lower {
    font-size: 2rem; }
    .desktop-navigation__lower-link {
      text-decoration: none;
      color: rgba(17, 11, 17, 0.7); }

.mobile-navigation {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #f8f8ff; }
  .mobile-navigation__header {
    font-size: 2.5rem;
    font-weight: 700; }
    .mobile-navigation__header-link {
      color: inherit;
      text-decoration: none; }
  .mobile-navigation__menu {
    font-size: 2rem; }
    .mobile-navigation__menu-link {
      color: inherit;
      text-decoration: none; }

.header {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 3rem; }
  @media (max-width: 56em) {
    .header {
      font-size: 2rem; } }
  @media (max-width: 37em) {
    .header {
      font-size: 1rem; } }
  .header-link, .header-link:visited, .header-link:link {
    text-decoration: none;
    color: rgba(17, 11, 17, 0.8); }
  .header-middle {
    letter-spacing: .6rem; }
    @media (max-width: 37em) {
      .header-middle {
        padding: 0 1rem;
        letter-spacing: .2rem; } }

.hero-section {
  font-family: 'Montserrat', sans-serif; }
  .hero-section__title {
    text-transform: uppercase;
    font-size: 4rem;
    background-image: linear-gradient(to left, rgba(111, 45, 189, 0.6), rgba(178, 152, 220, 0.6));
    -webkit-background-clip: text;
    color: transparent; }
  .hero-section__button {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase; }

.wrap-navigation {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  height: 100vh;
  width: 100vw; }
  @media (max-width: 56em) {
    .wrap-navigation {
      display: flex; } }

.mobile-navigation {
  background-image: linear-gradient(to bottom right, #6F2DBD, #B298DC);
  color: #f8f8ff;
  transition: all .5s;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transform: translateY(100vh);
  align-items: center; }
  .mobile-navigation-open {
    visibility: visible;
    transform: translateX(0);
    opacity: 1; }
  .mobile-navigation__header {
    display: flex;
    height: 20%;
    justify-content: center;
    align-items: flex-end; }
    @media (max-width: 37em) {
      .mobile-navigation__header {
        height: 15%; } }
  .mobile-navigation__links {
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: center; }
  .mobile-navigation__menu {
    letter-spacing: .3rem;
    line-height: 6rem;
    text-align: center; }
    @media (max-width: 37em) {
      .mobile-navigation__menu {
        line-height: 5rem; } }

.desktop-navigation {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 5rem; }
  .desktop-navigation__lower {
    font-size: 2rem; }
    .desktop-navigation__lower-link {
      text-decoration: none;
      color: rgba(17, 11, 17, 0.7); }

.mobile-navigation {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #f8f8ff; }
  .mobile-navigation__header {
    font-size: 2.5rem;
    font-weight: 700; }
    .mobile-navigation__header-link {
      color: inherit;
      text-decoration: none; }
  .mobile-navigation__menu {
    font-size: 2rem; }
    .mobile-navigation__menu-link {
      color: inherit;
      text-decoration: none; }

.header {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 3rem; }
  @media (max-width: 56em) {
    .header {
      font-size: 2rem; } }
  @media (max-width: 37em) {
    .header {
      font-size: 1rem; } }
  .header-link, .header-link:visited, .header-link:link {
    text-decoration: none;
    color: rgba(17, 11, 17, 0.8); }
  .header-middle {
    letter-spacing: .6rem; }
    @media (max-width: 37em) {
      .header-middle {
        padding: 0 1rem;
        letter-spacing: .2rem; } }

.hero-section {
  font-family: 'Montserrat', sans-serif; }
  .hero-section__title {
    text-transform: uppercase;
    font-size: 4rem;
    background-image: linear-gradient(to left, rgba(111, 45, 189, 0.6), rgba(178, 152, 220, 0.6));
    -webkit-background-clip: text;
    color: transparent; }
  .hero-section__button {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase; }

.wrap-header {
  position: fixed;
  top: 2rem;
  width: 100%; }
  @media (max-width: 56em) {
    .wrap-header {
      width: 80%; } }

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 6rem; }
  @media (max-width: 37em) {
    .header {
      padding: 0 2rem; } }
  @media (min-width: 100em) {
    .header {
      padding: 0 35rem; } }
  .header-link, .header-link:visited, .header-link:link {
    display: inline-block;
    transition: all .2s; }
  .header-link:hover {
    transform: scale(1.14); }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveToLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.hero-section {
  display: flex;
  margin: 0 auto;
  height: 70vh;
  width: 100%; }
  .hero-section__image-container {
    margin: 5% 0 0 8%;
    height: 70%;
    width: 60%;
    background-image: linear-gradient(to left top, rgba(111, 45, 189, 0.6), rgba(178, 152, 220, 0.6)), url(/images/hero-photo.jpg);
    background-size: cover;
    background-position: center;
    top: 0;
    clip-path: polygon(0 0, 85% 0%, 60% 100%, 0% 100%); }
  .hero-section__text-container {
    position: relative;
    display: inline-block;
    height: 70%;
    flex-grow: 1;
    margin: 5% 0 0 0;
    text-align: center; }
  .hero-section__title {
    position: absolute;
    top: 40%;
    left: -45%;
    animation: moveToLeft .5s ease-out .5s;
    animation-fill-mode: backwards; }
  .hero-section__button {
    position: absolute;
    bottom: 10%;
    left: -20%;
    width: 20rem;
    animation: moveInBottom .5s ease-out .5s;
    animation-fill-mode: backwards; }
    .hero-section__button, .hero-section__button:visited, .hero-section__button:link {
      padding: 2.5rem;
      border-radius: 50px;
      background-color: #A663CC;
      color: #f8f8ff; }

.btn-navigation {
  z-index: 2;
  position: absolute;
  top: 5%;
  right: 6%;
  width: 5rem;
  height: 5rem;
  background-color: #f8f8ff;
  box-shadow: 0 1rem 2rem rgba(17, 11, 17, 0.3);
  border-radius: 50%;
  cursor: pointer;
  transition: all .2s; }
  .btn-navigation:hover .btn-navigation--inside::after {
    top: -11px; }
  .btn-navigation:hover .btn-navigation--inside::before {
    top: 11px; }
  .btn-navigation:active {
    transform: translateY(3px);
    box-shadow: 0 0.4rem 2rem rgba(17, 11, 17, 0.3); }
  .btn-navigation--inside {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    border: 0.15rem solid #110B11; }
    .btn-navigation--inside::after {
      transition: all .2s;
      content: "";
      z-index: 5;
      position: absolute;
      top: -9px;
      left: -1px;
      width: 100%;
      border: 0.15rem solid #110B11; }
    .btn-navigation--inside::before {
      transition: all .2s;
      content: "";
      position: absolute;
      top: 7px;
      left: -1px;
      width: 100%;
      border: 0.15rem solid #110B11; }
