@import '../base/typography'
@import '../utils/variables'
@import '../utils/mixins'

.wrap-header
    margin-top: 3rem
    width: 100%
    
    @include respond($tablet-portrait)
        width: 80%

.header
    display: flex
    justify-content: space-between
    padding: 0 6rem
    
    @include respond($phone)
        padding: 0 2rem
    
    @include respond($large-desktop)
        padding: 0 35rem

    &-link

        &,
        &:visited,
        &:link
            display: inline-block
            transition: all .2s

        &:hover
            transform: scale(1.14)
