@import '../sharedStyles/utils/variables'
@import '../sharedStyles/base/animations'

.promotions
    width: 80%
    height: 90vh
    border-radius: 10px
    animation: moveInBottom 1s ease-in
    position: relative
    z-index: 1

    