.desktop-navigation {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
.desktop-navigation__lower {
  font-size: 1.6rem;
}
.desktop-navigation__lower-link {
  text-decoration: none;
  color: #F3F5F3;
}
.desktop-navigation__lower-link-logo {
  font-size: 2.4rem;
  font-weight: 900;
  color: #52b69a;
}

.mobile-navigation {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #F3F5F3;
}
.mobile-navigation__login-button {
  font-size: 1rem;
  color: #F3F5F3;
}
@media (max-width: 56em) {
  .mobile-navigation__login-button {
    font-size: 1.5rem;
  }
}
@media (max-width: 37em) {
  .mobile-navigation__login-button {
    font-size: 1.3rem;
  }
}
.mobile-navigation__bottom {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
}
@media (max-width: 56em) {
  .mobile-navigation__bottom {
    font-size: 1.2rem;
  }
}
.mobile-navigation__header {
  font-size: 2.5rem;
  font-weight: 700;
}
@media (max-width: 37em) {
  .mobile-navigation__header {
    font-size: 1.8rem;
  }
}
.mobile-navigation__header-link {
  color: inherit;
  text-decoration: none;
}
.mobile-navigation__menu {
  font-size: 2rem;
}
@media (max-width: 37em) {
  .mobile-navigation__menu {
    font-size: 1.5rem;
    line-height: 2.5;
  }
}
.mobile-navigation__menu-link {
  color: inherit;
  text-decoration: none;
}

.header {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 3rem;
}
@media (max-width: 56em) {
  .header {
    font-size: 1.8rem;
  }
}
@media (max-width: 37em) {
  .header {
    font-size: 1.4rem;
  }
}
.header-link, .header-link:visited, .header-link:link {
  text-decoration: none;
  color: #F3F5F3;
}
.header-middle .header-link {
  font-weight: 700;
  letter-spacing: 0.8rem;
}
@media (max-width: 37em) {
  .header-middle .header-link {
    padding: 0 1rem;
    letter-spacing: 0.2rem;
  }
}

.hero-section {
  font-family: "Nunito Sans", sans-serif;
}
.hero-section__title {
  font-size: 6rem;
  color: rgba(243, 245, 243, 0.9);
}
@media (max-width: 56em) {
  .hero-section__title {
    font-size: 4.5rem;
  }
}
@media (max-width: 37em) {
  .hero-section__title {
    font-size: 2rem;
  }
}
.hero-section__button {
  font-family: "Nunito Sans", sans-serif;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
}
@media (max-width: 56em) {
  .hero-section__button {
    font-size: 1.8rem;
  }
}
@media (max-width: 37em) {
  .hero-section__button {
    font-size: 1.5rem;
  }
}

.card__title-container-title {
  font-family: "Nunito Sans", sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 500;
  color: #F3F5F3;
  margin: 1.5rem;
}
@media (max-width: 56em) {
  .card__title-container-title {
    font-size: 1.5rem;
  }
}

.card__description-container-text {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.8em;
  font-weight: 300;
  color: #2A1E38;
}
@media (max-width: 56em) {
  .card__description-container-text {
    font-size: 1.3rem;
  }
}

.card__button {
  text-decoration: none;
  font-family: "Nunito Sans", sans-serif;
  text-transform: uppercase;
  font-size: 1.6rem;
  color: #F3F5F3;
}
@media (max-width: 56em) {
  .card__button {
    font-size: 1.5rem;
  }
}

.pricing-card {
  font-family: "Nunito Sans", sans-serif;
  text-transform: uppercase;
}
.pricing-card__main-service {
  font-size: 1.8rem;
  letter-spacing: 0.3rem;
  font-weight: 700;
  color: #A663CC;
}
@media (max-width: 75em) {
  .pricing-card__main-service {
    font-size: 1.4rem;
  }
}
.pricing-card__sub-services--service--title {
  color: #F3F5F3;
  font-size: 1.5rem;
}
@media (max-width: 75em) {
  .pricing-card__sub-services--service--title {
    font-size: 1.2rem;
  }
}
.pricing-card__sub-services--service--price {
  color: #F3F5F3;
  font-weight: 100;
  font-size: 2rem;
}
@media (max-width: 75em) {
  .pricing-card__sub-services--service--price {
    font-size: 1.5rem;
  }
}

.pricing-section__title {
  font-family: "Nunito Sans", sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
  color: #F3F5F3;
}
@media (max-width: 56em) {
  .pricing-section__title {
    font-size: 3rem;
  }
}
@media (max-width: 37em) {
  .pricing-section__title {
    font-size: 2rem;
  }
}

.review-card__person {
  font-family: "Nunito Sans", sans-serif;
}
.review-card__person--name {
  font-size: 2.6rem;
  font-weight: 700;
  color: rgba(42, 30, 56, 0.8);
}
@media (max-width: 56em) {
  .review-card__person--name {
    font-size: 2.3rem;
  }
}
@media (max-width: 37em) {
  .review-card__person--name {
    font-size: 2rem;
  }
}
.review-card__person--review {
  font-size: 1.6rem;
  font-weight: 200;
  color: rgba(42, 30, 56, 0.8);
}
@media (max-width: 56em) {
  .review-card__person--review {
    font-size: 1.4rem;
  }
}
@media (max-width: 37em) {
  .review-card__person--review {
    font-size: 1.3rem;
  }
}

.direction-section__title {
  font-family: "Nunito Sans", sans-serif;
  background-image: linear-gradient(to left, rgba(111, 45, 189, 0.8), rgba(166, 99, 204, 0.8));
  -webkit-background-clip: text;
  color: transparent;
}

.schedule-card {
  color: #F3F5F3;
  font-family: "Nunito Sans", sans-serif;
}
.schedule-card__title-container {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 3rem;
}
@media (max-width: 56em) {
  .schedule-card__title-container {
    font-size: 2rem;
  }
}
.schedule-card__hours {
  font-weight: 200;
}
.schedule-card__hours-service--title {
  font-size: 2rem;
}
@media (max-width: 56em) {
  .schedule-card__hours-service--title {
    font-size: 1.6rem;
  }
}
.schedule-card__hours-service--hours {
  font-size: 2.2rem;
}
@media (max-width: 56em) {
  .schedule-card__hours-service--hours {
    font-size: 1.8rem;
  }
}

.footer-section {
  color: rgba(243, 245, 243, 0.7);
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.4rem;
}

.login-modal__container--form {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
  color: rgba(82, 182, 154, 0.9);
}
@media (max-width: 37em) {
  .login-modal__container--form {
    font-size: 1.5rem;
  }
}
.login-modal__container--form--title {
  font-size: 2.7rem;
  font-weight: 700;
}
@media (max-width: 37em) {
  .login-modal__container--form--title {
    font-size: 2rem;
  }
}
@media (max-width: 56em) {
  .login-modal__container--form--inputs--label {
    color: rgba(243, 245, 243, 0.7);
  }
  .login-modal__container--form--inputs--label--firstname, .login-modal__container--form--inputs--label--lastname {
    color: rgba(42, 30, 56, 0.7);
  }
}
.login-modal__container--form--inputs--button {
  font-size: 2rem;
}
@media (max-width: 37em) {
  .login-modal__container--form--inputs--button {
    font-size: 1.5rem;
  }
}
.login-modal__container--form--inputs--button--login {
  color: #F3F5F3;
}
.login-modal__container--form--inputs--button--signup {
  color: #52b69a;
}
.login-modal__container--form--inputs--input {
  font-size: 1.5rem;
  font-weight: 200;
}
@media (max-width: 37em) {
  .login-modal__container--form--inputs--input {
    font-size: 1.2rem;
  }
}

.user-info {
  color: #F3F5F3;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.6rem;
}
.user-info__header--name {
  font-weight: 500;
}
.user-info__header--name--firstname {
  font-size: 2rem;
  font-weight: 700;
}
.user-info__details--detail--personal {
  color: #c8c8c8;
  font-size: 1.8rem;
}
.user-info__details--detail--personal:hover {
  color: #F3F5F3;
}
.user-info__mobile {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.5rem;
  color: #F3F5F3;
}
.user-info__mobile-details--detail--personal {
  text-decoration: none;
  color: #F3F5F3;
}

.user-dashboard {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.5rem;
}

.promo-card {
  font-size: 2rem;
  color: rgba(243, 245, 243, 0.9);
}
.promo-card__information--expiration {
  text-transform: uppercase;
  font-size: 1.3rem;
}
.promo-card__information--expiration--date {
  font-size: 2.2rem;
  font-weight: 900;
}
.promo-card__information--button {
  text-transform: uppercase;
  font-size: 2.7rem;
  font-weight: 900;
}
.promo-card__image--title {
  font-size: 3rem;
  font-weight: 900;
}
.promo-card__image--title span {
  font-size: 5rem;
}
.promo-card__touch {
  color: rgba(243, 245, 243, 0.9);
}
.promo-card__touch-image--title {
  font-size: 3rem;
  font-weight: 900;
}
.promo-card__touch-image--title span {
  font-size: 5rem;
}
.promo-card__touch-information--expiration {
  text-transform: uppercase;
  font-size: 1.4rem;
}
.promo-card__touch-information--expiration--date {
  font-size: 2.2rem;
  font-weight: 900;
}
.promo-card__touch-information--button {
  text-transform: uppercase;
  font-size: 2.7rem;
  font-weight: 900;
}

.promotions__title-content {
  font-size: 5rem;
  background-image: linear-gradient(to left, rgba(111, 45, 189, 0.8), rgba(166, 99, 204, 0.8));
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 900;
}
@media (max-width: 56em) {
  .promotions__title-content {
    font-size: 4rem;
  }
}
@media (max-width: 37em) {
  .promotions__title-content {
    font-size: 3rem;
  }
}
.promotions__empty {
  font-size: 6rem;
  font-weight: 900;
  background-image: linear-gradient(to left, rgba(111, 45, 189, 0.8), rgba(166, 99, 204, 0.8));
  -webkit-background-clip: text;
  color: transparent;
}

.rewards {
  font-family: "Nunito Sans", sans-serif;
}
.rewards__title-content {
  font-size: 5rem;
  background-image: linear-gradient(to left, rgba(111, 45, 189, 0.8), rgba(166, 99, 204, 0.8));
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 900;
}
@media (max-width: 56em) {
  .rewards__title-content {
    font-size: 4rem;
  }
}
@media (max-width: 37em) {
  .rewards__title-content {
    font-size: 3rem;
  }
}
.rewards__header-points-content, .rewards__header-code-content {
  text-transform: uppercase;
  font-size: 2.5rem;
  color: #A663CC;
  font-weight: 200;
}
@media (max-width: 75em) {
  .rewards__header-points-content, .rewards__header-code-content {
    font-size: 2rem;
  }
}
@media (max-width: 37em) {
  .rewards__header-points-content, .rewards__header-code-content {
    font-size: 1.4rem;
  }
}
.rewards__header-points-content span, .rewards__header-code-content span {
  font-size: 3rem;
  font-weight: 900;
  color: #6F2DBD;
}
@media (max-width: 75em) {
  .rewards__header-points-content span, .rewards__header-code-content span {
    font-size: 2.5rem;
  }
}
@media (max-width: 37em) {
  .rewards__header-points-content span, .rewards__header-code-content span {
    font-size: 1.8rem;
  }
}

.rewards-card__product-list {
  color: #F3F5F3;
  font-size: 2rem;
}
@media (max-width: 75em) {
  .rewards-card__product-list {
    font-size: 1.5rem;
  }
}
.rewards-card__product-list--no-rewards {
  font-size: 6rem;
  font-weight: 900;
}
@media (max-width: 75em) {
  .rewards-card__product-list--no-rewards {
    font-size: 4rem;
  }
}
.rewards-card__services-list-header {
  font-weight: 900;
  font-size: 4rem;
}
@media (max-width: 75em) {
  .rewards-card__services-list-header {
    font-size: 3rem;
  }
}
@media (max-width: 37em) {
  .rewards-card__services-list-header {
    font-size: 2rem;
  }
}
.rewards-card__services-list-content-element {
  font-weight: 200;
}
@media (max-width: 37em) {
  .rewards-card__services-list-content-element {
    font-size: 1.3rem;
  }
}
.rewards-card__services-list-content--points {
  text-transform: uppercase;
  font-weight: 900;
}
.rewards-card__services-list-content--button {
  text-transform: uppercase;
  font-weight: 200;
}

.appointments {
  text-transform: uppercase;
  color: #F3F5F3;
}
.appointments__title--content {
  font-size: 5rem;
  background-image: linear-gradient(to right, rgba(111, 45, 189, 0.8), rgba(166, 99, 204, 0.8));
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 900;
}
@media (max-width: 56em) {
  .appointments__title--content {
    font-size: 4rem;
  }
}
@media (max-width: 37em) {
  .appointments__title--content {
    font-size: 3rem;
  }
}
.appointments__list-title {
  text-transform: capitalize;
  font-size: 4.5rem;
  font-weight: 900;
}
.appointments__list-title--content {
  background-image: linear-gradient(to right, rgba(111, 45, 189, 0.8), rgba(166, 99, 204, 0.8));
  -webkit-background-clip: text;
  color: transparent;
}
.appointments__buttons--button {
  color: #52b69a;
  font-weight: 700;
}
.appointments__buttons--button--active {
  color: #F3F5F3;
}

.appointment {
  font-family: "Nunito Sans", sans-serif !important;
  font-size: 2rem;
  font-weight: 500;
}
.appointment__employee--content {
  font-weight: 900;
}
.appointment__rate--content {
  color: #F3F5F3 !important;
  font-weight: 700;
}

.section-program__wrap {
  background: url(../../../images/navigation-background-alternative.svg) top;
  background-size: cover;
}
@media (max-width: 56em) {
  .section-program__wrap {
    background: url(../../../images/navigation-background-vertical.svg) top;
    background-size: cover;
  }
}

.schedule-section {
  scroll-behavior: smooth;
  display: flex;
  flex-wrap: wrap;
  max-width: 120rem;
  padding: 3% 7rem 5% 7rem;
  gap: 10rem;
  justify-content: center;
  align-items: center;
}
@media (max-width: 56em) {
  .schedule-section {
    padding: 15% 2rem;
    gap: 3em;
  }
}
.schedule-section--wrap {
  display: flex;
  justify-content: center;
}

.schedule-card {
  border-radius: 10px;
  width: 30rem;
  height: fit-content;
  max-height: 55rem;
  background: linear-gradient(to right bottom, rgba(111, 45, 189, 0.7), rgba(178, 152, 220, 0.7)), #F3F5F3;
  box-shadow: 0 1rem 2rem rgba(42, 30, 56, 0.4);
  transition: all 0.4s;
}
.schedule-card:hover {
  transform: translateY(-2rem) scale(1.1);
  box-shadow: 0 2rem 4rem rgba(42, 30, 56, 0.4);
}
.schedule-card__title-container {
  width: 100%;
  height: 6rem;
  display: flex;
  margin: 3rem auto;
  justify-content: center;
  align-items: center;
}
.schedule-card__hours {
  width: 100%;
  height: max-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.schedule-card__hours-service {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.schedule-card__hours-service:not(:last-child) {
  border-bottom: 1px solid #f5f5f5;
}

/*# sourceMappingURL=program-section.css.map */
