.desktop-navigation {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
.desktop-navigation__lower {
  font-size: 1.6rem;
}
.desktop-navigation__lower-link {
  text-decoration: none;
  color: #F3F5F3;
}
.desktop-navigation__lower-link-logo {
  font-size: 2.4rem;
  font-weight: 900;
  color: #52b69a;
}

.mobile-navigation {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #F3F5F3;
}
.mobile-navigation__login-button {
  font-size: 1rem;
  color: #F3F5F3;
}
@media (max-width: 56em) {
  .mobile-navigation__login-button {
    font-size: 1.5rem;
  }
}
@media (max-width: 37em) {
  .mobile-navigation__login-button {
    font-size: 1.3rem;
  }
}
.mobile-navigation__bottom {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
}
@media (max-width: 56em) {
  .mobile-navigation__bottom {
    font-size: 1.2rem;
  }
}
.mobile-navigation__header {
  font-size: 2.5rem;
  font-weight: 700;
}
@media (max-width: 37em) {
  .mobile-navigation__header {
    font-size: 1.8rem;
  }
}
.mobile-navigation__header-link {
  color: inherit;
  text-decoration: none;
}
.mobile-navigation__menu {
  font-size: 2rem;
}
@media (max-width: 37em) {
  .mobile-navigation__menu {
    font-size: 1.5rem;
    line-height: 2.5;
  }
}
.mobile-navigation__menu-link {
  color: inherit;
  text-decoration: none;
}

.header {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 3rem;
}
@media (max-width: 56em) {
  .header {
    font-size: 1.8rem;
  }
}
@media (max-width: 37em) {
  .header {
    font-size: 1.4rem;
  }
}
.header-link, .header-link:visited, .header-link:link {
  text-decoration: none;
  color: #F3F5F3;
}
.header-middle .header-link {
  font-weight: 700;
  letter-spacing: 0.8rem;
}
@media (max-width: 37em) {
  .header-middle .header-link {
    padding: 0 1rem;
    letter-spacing: 0.2rem;
  }
}

.hero-section {
  font-family: "Nunito Sans", sans-serif;
}
.hero-section__title {
  font-size: 6rem;
  color: rgba(243, 245, 243, 0.9);
}
@media (max-width: 56em) {
  .hero-section__title {
    font-size: 4.5rem;
  }
}
@media (max-width: 37em) {
  .hero-section__title {
    font-size: 2rem;
  }
}
.hero-section__button {
  font-family: "Nunito Sans", sans-serif;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
}
@media (max-width: 56em) {
  .hero-section__button {
    font-size: 1.8rem;
  }
}
@media (max-width: 37em) {
  .hero-section__button {
    font-size: 1.5rem;
  }
}

.card__title-container-title {
  font-family: "Nunito Sans", sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 500;
  color: #F3F5F3;
  margin: 1.5rem;
}
@media (max-width: 56em) {
  .card__title-container-title {
    font-size: 1.5rem;
  }
}

.card__description-container-text {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.8em;
  font-weight: 300;
  color: #2A1E38;
}
@media (max-width: 56em) {
  .card__description-container-text {
    font-size: 1.3rem;
  }
}

.card__button {
  text-decoration: none;
  font-family: "Nunito Sans", sans-serif;
  text-transform: uppercase;
  font-size: 1.6rem;
  color: #F3F5F3;
}
@media (max-width: 56em) {
  .card__button {
    font-size: 1.5rem;
  }
}

.pricing-card {
  font-family: "Nunito Sans", sans-serif;
  text-transform: uppercase;
}
.pricing-card__main-service {
  font-size: 1.8rem;
  letter-spacing: 0.3rem;
  font-weight: 700;
  color: #A663CC;
}
@media (max-width: 75em) {
  .pricing-card__main-service {
    font-size: 1.4rem;
  }
}
.pricing-card__sub-services--service--title {
  color: #F3F5F3;
  font-size: 1.5rem;
}
@media (max-width: 75em) {
  .pricing-card__sub-services--service--title {
    font-size: 1.2rem;
  }
}
.pricing-card__sub-services--service--price {
  color: #F3F5F3;
  font-weight: 100;
  font-size: 2rem;
}
@media (max-width: 75em) {
  .pricing-card__sub-services--service--price {
    font-size: 1.5rem;
  }
}

.pricing-section__title {
  font-family: "Nunito Sans", sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
  color: #F3F5F3;
}
@media (max-width: 56em) {
  .pricing-section__title {
    font-size: 3rem;
  }
}
@media (max-width: 37em) {
  .pricing-section__title {
    font-size: 2rem;
  }
}

.review-card__person {
  font-family: "Nunito Sans", sans-serif;
}
.review-card__person--name {
  font-size: 2.6rem;
  font-weight: 700;
  color: rgba(42, 30, 56, 0.8);
}
@media (max-width: 56em) {
  .review-card__person--name {
    font-size: 2.3rem;
  }
}
@media (max-width: 37em) {
  .review-card__person--name {
    font-size: 2rem;
  }
}
.review-card__person--review {
  font-size: 1.6rem;
  font-weight: 200;
  color: rgba(42, 30, 56, 0.8);
}
@media (max-width: 56em) {
  .review-card__person--review {
    font-size: 1.4rem;
  }
}
@media (max-width: 37em) {
  .review-card__person--review {
    font-size: 1.3rem;
  }
}

.direction-section__title {
  font-family: "Nunito Sans", sans-serif;
  background-image: linear-gradient(to left, rgba(111, 45, 189, 0.8), rgba(166, 99, 204, 0.8));
  -webkit-background-clip: text;
  color: transparent;
}

.schedule-card {
  color: #F3F5F3;
  font-family: "Nunito Sans", sans-serif;
}
.schedule-card__title-container {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 3rem;
}
@media (max-width: 56em) {
  .schedule-card__title-container {
    font-size: 2rem;
  }
}
.schedule-card__hours {
  font-weight: 200;
}
.schedule-card__hours-service--title {
  font-size: 2rem;
}
@media (max-width: 56em) {
  .schedule-card__hours-service--title {
    font-size: 1.6rem;
  }
}
.schedule-card__hours-service--hours {
  font-size: 2.2rem;
}
@media (max-width: 56em) {
  .schedule-card__hours-service--hours {
    font-size: 1.8rem;
  }
}

.footer-section {
  color: rgba(243, 245, 243, 0.7);
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.4rem;
}

.login-modal__container--form {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
  color: rgba(82, 182, 154, 0.9);
}
@media (max-width: 37em) {
  .login-modal__container--form {
    font-size: 1.5rem;
  }
}
.login-modal__container--form--title {
  font-size: 2.7rem;
  font-weight: 700;
}
@media (max-width: 37em) {
  .login-modal__container--form--title {
    font-size: 2rem;
  }
}
@media (max-width: 56em) {
  .login-modal__container--form--inputs--label {
    color: rgba(243, 245, 243, 0.7);
  }
  .login-modal__container--form--inputs--label--firstname, .login-modal__container--form--inputs--label--lastname {
    color: rgba(42, 30, 56, 0.7);
  }
}
.login-modal__container--form--inputs--button {
  font-size: 2rem;
}
@media (max-width: 37em) {
  .login-modal__container--form--inputs--button {
    font-size: 1.5rem;
  }
}
.login-modal__container--form--inputs--button--login {
  color: #F3F5F3;
}
.login-modal__container--form--inputs--button--signup {
  color: #52b69a;
}
.login-modal__container--form--inputs--input {
  font-size: 1.5rem;
  font-weight: 200;
}
@media (max-width: 37em) {
  .login-modal__container--form--inputs--input {
    font-size: 1.2rem;
  }
}

.user-info {
  color: #F3F5F3;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.6rem;
}
.user-info__header--name {
  font-weight: 500;
}
.user-info__header--name--firstname {
  font-size: 2rem;
  font-weight: 700;
}
.user-info__details--detail--personal {
  color: #c8c8c8;
  font-size: 1.8rem;
}
.user-info__details--detail--personal:hover {
  color: #F3F5F3;
}
.user-info__mobile {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.5rem;
  color: #F3F5F3;
}
.user-info__mobile-details--detail--personal {
  text-decoration: none;
  color: #F3F5F3;
}

.user-dashboard {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.5rem;
}

.promo-card {
  font-size: 2rem;
  color: rgba(243, 245, 243, 0.9);
}
.promo-card__information--expiration {
  text-transform: uppercase;
  font-size: 1.3rem;
}
.promo-card__information--expiration--date {
  font-size: 2.2rem;
  font-weight: 900;
}
.promo-card__information--button {
  text-transform: uppercase;
  font-size: 2.7rem;
  font-weight: 900;
}
.promo-card__image--title {
  font-size: 3rem;
  font-weight: 900;
}
.promo-card__image--title span {
  font-size: 5rem;
}
.promo-card__touch {
  color: rgba(243, 245, 243, 0.9);
}
.promo-card__touch-image--title {
  font-size: 3rem;
  font-weight: 900;
}
.promo-card__touch-image--title span {
  font-size: 5rem;
}
.promo-card__touch-information--expiration {
  text-transform: uppercase;
  font-size: 1.4rem;
}
.promo-card__touch-information--expiration--date {
  font-size: 2.2rem;
  font-weight: 900;
}
.promo-card__touch-information--button {
  text-transform: uppercase;
  font-size: 2.7rem;
  font-weight: 900;
}

.promotions__title-content {
  font-size: 5rem;
  background-image: linear-gradient(to left, rgba(111, 45, 189, 0.8), rgba(166, 99, 204, 0.8));
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 900;
}
@media (max-width: 56em) {
  .promotions__title-content {
    font-size: 4rem;
  }
}
@media (max-width: 37em) {
  .promotions__title-content {
    font-size: 3rem;
  }
}
.promotions__empty {
  font-size: 6rem;
  font-weight: 900;
  background-image: linear-gradient(to left, rgba(111, 45, 189, 0.8), rgba(166, 99, 204, 0.8));
  -webkit-background-clip: text;
  color: transparent;
}

.rewards {
  font-family: "Nunito Sans", sans-serif;
}
.rewards__title-content {
  font-size: 5rem;
  background-image: linear-gradient(to left, rgba(111, 45, 189, 0.8), rgba(166, 99, 204, 0.8));
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 900;
}
@media (max-width: 56em) {
  .rewards__title-content {
    font-size: 4rem;
  }
}
@media (max-width: 37em) {
  .rewards__title-content {
    font-size: 3rem;
  }
}
.rewards__header-points-content, .rewards__header-code-content {
  text-transform: uppercase;
  font-size: 2.5rem;
  color: #A663CC;
  font-weight: 200;
}
@media (max-width: 75em) {
  .rewards__header-points-content, .rewards__header-code-content {
    font-size: 2rem;
  }
}
@media (max-width: 37em) {
  .rewards__header-points-content, .rewards__header-code-content {
    font-size: 1.4rem;
  }
}
.rewards__header-points-content span, .rewards__header-code-content span {
  font-size: 3rem;
  font-weight: 900;
  color: #6F2DBD;
}
@media (max-width: 75em) {
  .rewards__header-points-content span, .rewards__header-code-content span {
    font-size: 2.5rem;
  }
}
@media (max-width: 37em) {
  .rewards__header-points-content span, .rewards__header-code-content span {
    font-size: 1.8rem;
  }
}

.rewards-card__product-list {
  color: #F3F5F3;
  font-size: 2rem;
}
@media (max-width: 75em) {
  .rewards-card__product-list {
    font-size: 1.5rem;
  }
}
.rewards-card__product-list--no-rewards {
  font-size: 6rem;
  font-weight: 900;
}
@media (max-width: 75em) {
  .rewards-card__product-list--no-rewards {
    font-size: 4rem;
  }
}
.rewards-card__services-list-header {
  font-weight: 900;
  font-size: 4rem;
}
@media (max-width: 75em) {
  .rewards-card__services-list-header {
    font-size: 3rem;
  }
}
@media (max-width: 37em) {
  .rewards-card__services-list-header {
    font-size: 2rem;
  }
}
.rewards-card__services-list-content-element {
  font-weight: 200;
}
@media (max-width: 37em) {
  .rewards-card__services-list-content-element {
    font-size: 1.3rem;
  }
}
.rewards-card__services-list-content--points {
  text-transform: uppercase;
  font-weight: 900;
}
.rewards-card__services-list-content--button {
  text-transform: uppercase;
  font-weight: 200;
}

.appointments {
  text-transform: uppercase;
  color: #F3F5F3;
}
.appointments__title--content {
  font-size: 5rem;
  background-image: linear-gradient(to right, rgba(111, 45, 189, 0.8), rgba(166, 99, 204, 0.8));
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 900;
}
@media (max-width: 56em) {
  .appointments__title--content {
    font-size: 4rem;
  }
}
@media (max-width: 37em) {
  .appointments__title--content {
    font-size: 3rem;
  }
}
.appointments__list-title {
  text-transform: capitalize;
  font-size: 4.5rem;
  font-weight: 900;
}
.appointments__list-title--content {
  background-image: linear-gradient(to right, rgba(111, 45, 189, 0.8), rgba(166, 99, 204, 0.8));
  -webkit-background-clip: text;
  color: transparent;
}
.appointments__buttons--button {
  color: #52b69a;
  font-weight: 700;
}
.appointments__buttons--button--active {
  color: #F3F5F3;
}

.appointment {
  font-family: "Nunito Sans", sans-serif !important;
  font-size: 2rem;
  font-weight: 500;
}
.appointment__employee--content {
  font-weight: 900;
}
.appointment__rate--content {
  color: #F3F5F3 !important;
  font-weight: 700;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes moveInBottomModal {
  0% {
    opacity: 0;
    transform: translate(50%, -30%);
  }
  100% {
    opacity: 1;
    transform: translate(50%, -50%);
  }
}
@keyframes moveToLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveToRight {
  0% {
    opacity: 0;
    transform: translate(-50rem) scale(0);
  }
  100% {
    opacity: 1;
    transform: translate(0) scale(1);
  }
}
@keyframes moveToBottomPromo {
  0% {
    opacity: 0;
    transform: translateX(-25rem) scale(0.1);
  }
  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}
@keyframes moveToTopPromo {
  0% {
    opacity: 0;
    transform: translateX(25rem) scale(0.1);
  }
  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}
@keyframes bounceUp {
  0% {
    transform: scale(0.7);
  }
  25% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.pricing-wrap {
  background: url(../../../images/navigation-background-alternative.svg) top;
  background-size: cover;
}

.pricing-section {
  z-index: 5;
  padding-top: 5%;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
}
.pricing-section__cards {
  z-index: 50;
  display: flex;
  justify-content: center;
  margin: 5rem auto;
  max-width: 250rem;
  flex-wrap: wrap;
}
.pricing-section__title-container {
  background-image: linear-gradient(to left, rgba(111, 45, 189, 0.6), rgba(178, 152, 220, 0.6));
  margin: 5rem 0 0 -2rem;
  min-width: 60rem;
  max-width: 30%;
  text-align: right;
  padding-right: 5rem;
  border-radius: 10px;
  animation: moveToRight 0.6s ease-in 0.5s;
  animation-fill-mode: backwards;
}
@media (max-width: 75em) {
  .pricing-section__title-container {
    text-align: center;
    max-width: 100%;
    border-radius: 0;
  }
}
@media (max-width: 37em) {
  .pricing-section__title-container {
    margin: 3rem 0 -4rem -2rem;
    min-width: 50%;
    max-width: 100%;
    border-radius: 0;
  }
}

/*# sourceMappingURL=pricing-section.css.map */
